/* Footer */
.footer {
  padding-top: 21px;
  padding-bottom: 21px;
  text-align: center;

  & ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    list-style-type: none;
  }

  & li + li {
    margin-left: 21px;
  }

  & a {
    font-size: 24px;
    color: #111;
    transition: color var(--tran-timing) var(--tran-duration);

    &:hover {
      color: var(--color-brand);
    }
  }

  & small {
    display: block;
    margin-top: 16px;
    color: rgba(119, 133, 149, 0.5);
  }
}
