/* Layout */
.footer,
.header {
  text-align: center;

  & ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    list-style-type: none;
  }

  & li + li {
    margin-left: 21px;
  }

  & a {
    color: #111;
    transition: color var(--tr-part);

    &:hover {
      color: var(--color-brand);
    }
  }
}
