/* Layout */
.footer,
.header {
  text-align: center;

  & ul {
    width: 100%;
    list-style-type: none;
  }

  & a {
    color: #111;
    transition: color var(--tr-part);

    &:hover {
      color: var(--color-brand);
    }
  }
}
